footer {
    background-color: $secondary-color;
    padding: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 1rem 0;
  
    .footer-content {
      display: flex;
      justify-content: space-around;
      width: 100%;
      z-index: 1;
  
      div {
        text-align: center;
  
        h3 {
          font-size: 1.31rem;
          font-weight: $font-weight-bold;
        }
  
        p {
          font-size: 1.12rem;
          margin: 0.31rem 0;
        }
  
        img {
          width: 50px;
          margin: 0.31rem;
        }
      }
    }
  
    .footer-icon {
      position: absolute;
      width: 120px;
      height: auto;
      opacity: 0.1;
  
      &-left {
        left: -50px;
        top: 10px;
        transform: rotate(-15deg);
      }
  
      &-right {
        right: -50px;
        bottom: 10px;
        transform: rotate(165deg);
      }
    }
  }