header {
    background-color: $secondary-color;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
    .logo-and-title {
      display: flex;
      align-items: center;
  
      .image-logo {
        height: 50px;
        margin-right: 0.93rem;
      }
  
      .coffee-name {
        font-size: 3.12rem;
        font-weight: lighter;
        color: $graphite-color;
      }
    }
  }