nav {
    ul {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;
    }
  
    a {
      font-size: 1.31rem;
      text-decoration: none;
      color: $graphite-color;
      font-weight: 500;
      padding: 0.62rem 1.25rem;
    }
  
    .header-item {
      margin: 0 0.93rem;
  
      &:hover {
        color: $primary-color;
      }
    }
  }