h1, h2, h3 {
    margin-bottom: 10px;
    color: $graphite-color;
  }
  
  h1 {
    font-size: 3.75rem;
    font-weight: $font-weight-light;
  }
  
  h2 {
    font-size: 2.8125rem;
    font-weight: $font-weight-light;
  }
  
  h3 {
    font-size: 2.0625rem;
    font-weight: $font-weight-light;
  }
  
  p {
    font-size: 1.125rem;
    font-weight: $font-weight-regular;
  
    &.italic {
      font-style: italic;
    }
  }