// Colors
$primary-color: #5BACC3; // Nitro-Blue
$secondary-color: #FFF0ED; // Nitro-Pink
$graphite-color: #393939; // Graphite
$white-color: #FFF; // White
$gray-color: #909090;
$light-gray-color: #F7F7F7;

// Typography
$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 16px;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;